body {
  background-color:    #333;
  margin-top:         -10px;
  margin-left:          0px;
  font-family:   "NovaMono", "Bauhaus", "Bowhouse", "Gabriele", "Ubuntu Mono", "Major Mono Display", monospace;
  font-weight:       normal;
  font-style:        normal;
  font-size:          125px;
}

#wordclock {
  width:             1260px;
  padding-left:        20px;
  height:            1050px;
  padding-top:          0px;
  margin:              auto;
  background-color:    #000;
}

#wordclock div {
  color:            #575757;
  text-align:          left;
  height:             109px;
}

#wordclock div div {
  display:             flex;
  float:               left;
}

#wordclock div div span {
  width:             0.66em;  /* fix width */
  text-align:        center;
  display:     inline-block;
}

.active {
  color:             white !important;
  transition:  color 3.0s ease-in-out;
}

.passive {
  transition:  color 3.0s ease-in-out;
}

.mins {
  letter-spacing:   0.33em !important;
}

.out {
  color:              #5FF !important;
  letter-spacing:   0.33em !important;
}

.in {
  color:              #FF5 !important;
  letter-spacing:   0.33em !important;
}



.hello {
  color:        lightgreen !important;
  letter-spacing:     10px !important;
  transition:  color 3.0s ease-in-out;
}

.hl {
  color:        lightgreen !important;
  padding-left:        6px;
  letter-spacing:     10px !important;
  transition:  color 3.0s ease-in-out;
}


.eva {
  color:        lightgreen !important;
  padding-left:        6px;            /* Default:  6px */
  letter-spacing:     11px !important; /* Default: 11px */
  transition:  color 3.0s ease-in-out;
}

.frank {
  color:        lightgreen !important;
  padding-left:        6px;            /* Default:  6px */
  letter-spacing:     12px !important; /* Default: 12px */
  transition:  color 3.0s ease-in-out;
}

.heike {
  color:        lightgreen !important;
  padding-left:        6px;            /* Default:  6px */
  letter-spacing:     11px !important; /* Default: 11px */
  transition:  color 3.0s ease-in-out;
}

.hannah {
  color:        lightgreen !important;
  padding-left:        6px;            /* Default:  6px */
  letter-spacing:     11px !important; /* Default: 11px */
  transition:  color 3.0s ease-in-out;
}
