body {
  background-color:    #333;
  margin-top:           0px;
  margin-left:          0px;
  font-family:     "Gabriele", "Ubuntu Mono", "Major Mono Display", monospace;
  font-weight:       normal;
  font-style:        normal;
  font-size:          110px;
}

#wordclock {
  width:             1250px;
  padding-left:        30px;
  height:            1050px;
  padding-top:         25px;
  margin:              auto;
  background-color:    #000;
}

#wordclock div {
  color:            #575757;
  text-align:          left;
  height:             105px;
  letter-spacing:     0.12em;
}

#wordclock div div {
  float:               left;
}

.active {
  color:       white !important;
  transition:  color 2.0s ease-in-out;
}

.passive {
  transition:  color 2.0s ease-in-out;
}

.out {
  color:       #5FF !important;
}

.in {
  color:       #FF5 !important;
}